body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#CALCULATOR{
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    
    
    
}

#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align:left;
    border: none;
    color: white;
    background-color:hsl(0, 94%, 6%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(239, 157, 5);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
}
button:active{
    background-color: rgb(42, 35, 35);

}